<div class="bg-blue-200 border-1 border-gray-600 border-solid rounded p-3 my-3">
    <div>
        <p class="text-lg">Child Tile : @Title </p>
    </div>

    <div>
        @if (DangerChildContent != null)
        {
            <div>
                <p class="text-lg text-red-600">@DangerChildContent</p>
            </div>
        }
        else
        {
            @if (ChildContent != null)
            {
                <div>
                    <p class="text-lg text-blue-600">@ChildContent</p>
                </div>
            }
            else
            {
                <div>
                    <p class="text-lg text-blue-600">No Child Content</p>
                </div>
            }
        }

    </div>

    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" @onclick="OnBtnClick">Btn Click</button>
</div>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment DangerChildContent { get; set; }

    [Parameter]
    public EventCallback OnBtnClick { get; set; }

}